.button {
	background-color: transparent;
	border-radius: 30px;
	border: none;
	padding: 10px 20px;
	font-size: 15px;
  	box-shadow: 0 0 7px 0 rgba(56, 56, 56, 0.2);
  	width: 200px;
  	height: 50px;
  	transform: scale(1);
}

.button:focus, .button:hover {
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	outline: none;
	transform: scale(1.09);
	background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}