$c2 : #fff;
$c3 : #8E2DE2;
$c4 : #4A00E0;
$c5 : #47748b;
$c6 : #d9a7c7;
$c7 : #fffcdc;
$c8 : #f5f5f5;


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-link {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
}
.nav-item {
    padding: 10px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100% auto;
    color: $c2;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    background: $c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $c4, $c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $c4, $c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    border-bottom: 1px solid $c2;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $c5;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: $c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $c7, $c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $c7, $c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: $c8;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
